{% extends "layout.html" %}

{% block content %}
<div class="container-fluid pt-5">
    <div class="table-responsive-xl">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Etiqueta</th>
                    <th>Valor</th>
                    <th>Atajo</th>
                    <th>Vista previa</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for label in list %}
                <form action="/delete" method="post">
                <tr>
                    <td>{{ label.label_name }}<input id="label" name="label" type="hidden" value="{{ label.label_name }}" /></td>
                    <td>{{ label.label_value }}</td>
                    <td>{{ label.label_shortcut_key }}</td>
                    <td><a id="label.label_value" class="btn" style="color:{{ label.label_text_color }};border-radius: 20px;background-color:{{ label.label_color }};" type="button" href="#value={{ label.label_value }}&key={{ label.label_shortcut_key }}">{{ label.label_name }}</a></td>
                    <td>
                        <a class="btn btn-outline-danger" href="/edit?label={{ label.label_name }}">Editar</a>
                        <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                        <a class="btn btn-outline-danger" href="/addDataset?label={{ label.label_name }}">Agregar a Datasets</a>
                    </td>
                </tr>
                </form>
                {% endfor %}
                </tbody>
            </table>
        </table>
    </div>
</div>
{% endblock %}
